{% extends 'base.html' %}

{% block conteudo %}

{% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        <ul>
            {% for mensagem in mensagens %}
                <li>{{ mensagem }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <h2>Confrime se deseja excluir {{usuario.nome}}</h2>
        <form method="post" action="/usuarios/delete/{{ usuario.id }}">
            <input type="submit" value="Excluir">
            <a href="{{ url_for('usuarios.list') }}">Cancelar</a>
        </form>
    {% endblock %}